fastapi
uvicorn

mistralai

langchain
langchain-community
langchain-mistralai

chromadb
sentence-transformers

pypdf

opencv-python
opencv-contrib-python
mediapipe

deepface

torch
torchvision

ultralytics

numpy
pandas
pillow

python-dotenv
requests
pydantic